/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-family: $pagefont;
  font-size: 0.85em;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: #00adb5;
  border-bottom: 5px double #a5d6ff;
  border-top: 5px double #a5d6ff;
}

th {
  font-family: $otfbold;
  font-size: 1.15em;
  padding: 0.5em;
  font-weight: bold;
  text-align: center;
  text-align-last: center;
  border: 1px solid #a5d6ff;
}

td {
  padding: 0.4em;
  border: 1px solid #3d4144;
}

tr,
td,
th {
  vertical-align: middle;
}